<div *ngIf="!submitted">
	
	<div id="bodytitle">Contact Us</div>
	
	<form (ngSubmit)="sendEmail()" #postForm="ngForm">
		<u>Name: </u><br>
		<input type="text" name="name" id="contactinput" required [(ngModel)]="model.name"><br>
		<u>Email: </u><br>
		<input type="email" name="email" id="contactinput" required [(ngModel)]="model.email"><br>
		<u>Phone Number: </u><br>
		<input type="email" name="phone" id="contactinput" required [(ngModel)]="model.phone"><br>
		<u>Comment: </u><br>
		<input type="text" name="message" id="contactinput" required [(ngModel)]="model.message"><br>
		<button type="submit">Submit</button>
	</form>
</div>

<div *ngIf="submitted">
	<div id="bodytitle">You have successfully submitted this contact information.</div>
	<p class="noindent">Name: {{model.name}}</p>
	<p class="noindent">Email: {{model.email}}</p>
	<p class="noindent">Phone: {{model.phone}}</p>
	<p class="noindent">Message: {{model.message}}</p>
</div>