<div class="header">
    <div class="middle">
    	<button (click)="logout()">Logout</button><button *ngIf="EditingPost" style="float: right;" (click)="newPost()">New Post</button>
        <div class="middletext">
			<div *ngIf="!submitted && !edited">
				<div *ngIf="NewPost">
					<h1>Write a new blog post</h1>

					<form (ngSubmit)="submitNew()" #postForm="ngForm" class="createform">
						<label for="title">Title of Article: </label><br>
						<input type="text" name="title" placeholder="Title of post"required [(ngModel)]="model.title"><br>
						<label for="author">Author: </label><br>
						<input type="text" name="author" placeholder="Author of post"required [(ngModel)]="model.author"><br>
						<label for="text">Content of article: </label><br>
						<textarea name="text" required [(ngModel)]="model.text"></textarea><br>
						<label for="photo">Upload photograph:</label><br><br>
						<input id="photo" type="file" name="photo" required><br>
						<button type="submit">Post Article</button>
					</form>
				</div>

				<div *ngIf="EditingPost">
					<h1>Edit blog post</h1>

					<form (ngSubmit)="submitEdit()" #postForm="ngForm" class="createform">
						<p class="noindent">Originally Written: {{model.date | date: 'MMM dd, yyyy hh:mm aa'}}</p>
						<label for="title">Title of Article: </label><br>
						<input type="text" name="title" placeholder="Title of post"required [(ngModel)]="model.title"><br>
						<label for="author">Author: </label><br>
						<input type="text" name="author" placeholder="Author of post"required [(ngModel)]="model.author"><br>
						<label for="text">Content of article: </label><br>
						<textarea name="text"required [(ngModel)]="model.text"></textarea><br>
						<label for="photo">Upload photograph:</label><br><br>
						<div *ngIf="model.photo">			
							<img src="{{model.photo}}" class="currentPhoto">
							<button type="button" (click)="deleteCurrentPhoto(model.photo, model._id)">Delete Current Photo</button>
						</div>
						<input *ngIf="!model.photo" id="photo" type="file" name="photo" required><br><br>
						<button type="submit">Update Article</button>
					</form>
				</div>

			</div>

			<div *ngIf="submitted">
				<p class="noindent">You have submitted the following article.</p>
				<div id="bodytitle">{{model.title}}</div>
				<p class="noindent">{{model.author}}</p>
				<p>{{model.text}}</p>
				<img src="{{model.photo}}">
			</div>

		</div>
	</div>
</div>

<div *ngIf="edited">
	<p>Post Edited!</p>
</div>

<div>
	<p>{{details?.username}}</p>
</div>

<div class="cursorbuttons">
	<button *ngIf="cursor > 0" (click)="getPrevious()">Get newer posts </button><button *ngIf="!noMorePosts" (click)="getNext()">Get older posts</button>
</div>

<div *ngIf="!noPosts">
	<div *ngFor="let post of posts" class="post">
		<img *ngIf="post.photo" src="{{post.photo}}" class="postImage">
		<div *ngIf="!post.photo" class="postImage" style="color:green;"></div>
		<div class="postContent">
			<div class="postTitle">{{post.title}}</div>
			<div class="postAuthor">Written by {{post.author}}</div>
			<button (click)="startEdit(post._id)">Edit</button><button (click)="deletePost(post._id)">Delete</button>
		</div>	
	</div>
</div>



<h1 *ngIf="noPosts" style="text-align: center">No posts to show.</h1>

