<div class="navbarClass" id="nav">
	<div class="navbarSection">
		<a routerLink="/" onclick="removeMenu()">Home</a>
		<a routerLink="/team" onclick="removeMenu()">Our Team</a>
		<a routerLink="/development" onclick="removeMenu()">Development</a>
		<a routerLink="/palmer" id="important" onclick="removeMenu()">Risk Assessment Webtool</a>
		<a routerLink="/contact" onclick="removeMenu()">Contact Us</a>
		<a routerLink="javascript:void(0);" class="icon" onclick="accessMenu()">
			<i class="fa fa-bars"></i>
		</a>
	</div>
</div>
<router-outlet></router-outlet>
