<div class="topnav" id="myTopnav">
  <a routerlink="/" id="logo">Simpson College Palmer Project</a>
  <a routerLink="/">Home</a>
  <a routerLink="/palmer">Risk Assessment</a>
  <a routerLink="/blog">Blog</a>
  <a routerLink="/team">About</a>
  <a routerLink="/contact">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="topnav" id="myTopnavReverse">
  <a routerlink="/" id="logo">Simpson College Palmer Project</a>
  <a routerLink="/contact">Contact</a>
  <a routerLink="/team">About</a>
  <a routerLink="/blog">Blog</a>
  <a routerLink="/palmer">Risk Assessment</a>
  <a routerLink="/">Home</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<div class="pageapp">
	<router-outlet></router-outlet>
</div>
