<div *ngIf="!selectedPost">

	<div id="bodytitle">Palmer Group News</div>

	<p>Stay updated on what our team is working on by checking out our blog!</p><br /><br />

	<div *ngFor="let post of posts" routerLink="/post/{{post._id}}" class="post">
		<img src="{{post.photo}}" class="postImage">
		<div class="postContent">
			<div class="postTitle">{{post.title}}</div>
			<div class="postAuthor">Written by {{post.author}}</div>
			<div class="postText" [innerHTML]="post.text"></div>
		</div>	
	</div>
</div>