* {
	margin: 0;
	padding: 0;
	font-size: 0;
	box-sizing: border-box;
}

.blogheader {
	width: 100%;
	display:inline-block;
	background-color: #C7E9C9;
	font-size: 0;
	margin: 0;
	padding: 25px;
	text-align: center;
	font-size: 30pt;
	font-style: inherit;
	color: black;
}

.blogcontainer{
	width: 100%;
	display: inline-block;
	background-color: #FDFDFD;
}

.newestpost {
	width: 80%;
	padding: 50px 0 25px 0;
	display: inline-block;
	margin: 0 10% 0 10%;
}

.newest-post-photo {
	width:100%;
	position: relative;
}

.newest-post-photo img{
	width:100%;
	height: auto;
}

.newestpost h1 {
	font-size: 20pt;
	font-style: inherit;
	color: #1E7924;
}

.newest-post-photo h1{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	color: #ffffff;
	padding: 5px;
	transition: opacity .5s;
}

.newest-post-photo:hover h1{
	opacity: 0;
}

.newestpost p {
	padding: 10px 0 10px 0;
	font-size: 12pt;
	font-family: inherit;
}

.newestpost .author {
	padding:10px 0 0 0;
	font-size: 10pt;
	color: #C0C0C0;
}

.newestpost .date {
	padding: 0 0 10px 0;
	font-size: 10pt;
	color: #C0C0C0;
}

.underline {
	width: 100%;
	height: 2pt;
	background-color: #1E7924;
}

.recentposts {
	width: 80%;
	padding: 0 0 50px 0;
	display: inline-block;
	margin: 0 10% 0 10%;
}

.recentposts h1{
	font-size: 24pt;
	font-style: inherit;
	color: #1E7924;
}

.recentpost {
	height: 100px;
	width: 100%;
	border-bottom: 2pt solid #1E7924;
	overflow: hidden;
	display: flex;
}

.recentposttitle {
	width: 60%;
	font-family: inherit;
	font-size: 14pt;
	color: black;
	font-weight: bold;
	align-self: center;
}

.recentpostimage {
	width: 30%;
	height: 80px;
	margin-left: 10%;
	align-self: center;
	object-fit: cover;
}

.buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	margin: 10px 0 10px 0;
}

.buttons button {
	height: 50px;
	width: 100%;
	text-align: center;
	background-color: #1E7924;
	color: white;
	font-family: inherit;
	font-size: 12pt;
	font-weight: bold;
	border: none;
	padding: 0 5px 0 5px;
}

.olderposts {
	margin-left: auto;
}

p {
	font-size: 12px;
	font-style: inherit;
}