<h1 class="blogheader">The Palmer Project Blog</h1>


<div class="blogcontainer" id="blogcontainer">
	<div class="content">
		<div class="newestpost">
			<div *ngIf="newestPost.photo" class="newest-post-photo">
				<img src="/uploads/{{newestPost.photo}}" />
				<h1>{{newestPost.title}}</h1>
			</div>
			<h1 *ngIf="!newestPost.photo">{{newestPost.title}}</h1>
			<div class="underline"></div>
			<p class="author">Written by {{newestPost.author}}</p>
			<p *ngIf="!newestPost.editedDate" class="date">Date Published: {{newestPost.date | date:'MMM dd, yyyy hh:mm aa'}}</p>
			<p *ngIf="newestPost.editedDate" class="date">Last Updated: {{newestPost.editedDate | date:'MMM dd, yyyy hh:mm aa'}}</p>
			<div class="underline"></div>
			<p [innerHTML]='newestPost.text'></p>
			<div class="underline largescreens"></div>
		</div>

		<div *ngIf="!noPosts" class="recentposts">
			
			<h1>Recent Posts</h1>
			
			<div class="buttons largescreens">
				<div class="newerposts">
					<button *ngIf="cursor > 0" (click)="getNewer()">&lt; Newer Posts</button>
				</div>
				<div class="olderposts">
					<button *ngIf="!noMorePosts" (click)="getOlder()" >Older Posts &gt;</button>
				</div>			
			</div>
			
			<div class="underline"></div>
			
			<div *ngFor="let post of posts" routerLink="/post/{{post._id}}" class="recentpost">
				<div class="recentposttitle">{{post.title}}</div>
				<img *ngIf="post.photo" src="/uploads/{{post.photo}}" class="recentpostimage">
			</div>
			
			<div class="buttons">

				<div class="newerposts">
					<button *ngIf="cursor > 0" (click)="getNewer()">&lt; Newer Posts</button>
				</div>

				<div class="olderposts">
					<button *ngIf="!noMorePosts" (click)="getOlder()" >Older Posts &gt;</button>
				</div>

			</div>
			<div class="twitterfeed">
				<ng4-twitter-timeline [dataSrc]="{sourceType: 'profile', screenName: 'PalmerProjectSC'}" [opts]="{height: 750, chrome: 'noscrollbar'}"></ng4-twitter-timeline>
			</div>
		</div>

		<div *ngIf="noPosts" class="recentposts">
			<h1>Recent Posts</h1>
			<div class="buttons largescreens">
				<div class="newerposts">
					<button (click)="getNewer()">&lt; Newer Posts</button>
				</div>
			</div>
			<div class="underline"></div>
			<div class="recentpost">
				<div class="recentposttitle">No More Posts</div>
			</div>
			<div class="buttons">
				<div class="newerposts">
					<button (click)="getNewer()">&lt; Newer Posts</button>
				</div>
			</div>
			<div class="twitterfeed">
				<ng4-twitter-timeline [dataSrc]="{sourceType: 'profile', screenName: 'PalmerProjectSC'}" [opts]="{height: 750, chrome: 'noscrollbar'}"></ng4-twitter-timeline>
			</div>			
		</div>
	</div>
</div>