table {
    font-family: inherit;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

* {
	margin: 0;
	padding: 0;
}

.backgroundarea {
	background: linear-gradient(to bottom, rgba(107,186,112,.6) 0%,rgba(67,183,73,.6) 100%),url(Palmer.jpeg); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	height: 600px;
	display:inline-block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6bba70+0,43b749+100 */
	font-size: 0;
	margin: 0;
	padding: 0;
	background: rgba(255, 255, 255, .3);
}

.left {
	width: 40%;
	height: 100%;
	background: rgba(255, 255, 255, .2);
	margin: 0 auto;
	position: relative;
	font-size: 0;
	float: left;
}

.right {
	width: 60%;
	height: 100%;
	float: right;
	font-size: 0;
	position: relative;
}

.infotext {
	font-size: 24px;
	margin: 12px 12px 12px 12px;
}

.lefttext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	height: auto;
	font-size: 0;
	text-align: left;
}

.info {
	font-size: 24px;
	width: 80%;
	height: auto;
	margin: 0 auto;
	background: rgba(255, 255, 255, .3);
	margin-top: 24px;
	margin-bottom: 24px;
	padding: 8px 8px 8px 8px;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 25px;
}
