h1 {
	width: 900px;
	margin: 10px auto;
	text-align: justify;
	font-size: 20px;
	line-height: 30px;
}

table {
    font-family: inherit;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}