body {
	font-family: 'Quicksand';
	margin: 0;
}

.navbarClass {
	overflow: hidden;
	background-color: #015249;
}

.navbarClass a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	font-size: 16px;
}

.navbarSection {
	width: auto;
	float: right;
}

.navbarSection a {
	float: left;
}

.navbarClass a:hover {
	background-color: #000;
	color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.navbarClass .icon {
	display: none;
}

@media screen and (max-width: 900px) {
	.navbarClass a {
		display: none;
	}
	.navbarClass a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 900px) {
	.navbarClass.responsiveMenu {
		position: relative;
	}
	.navbarClass.responsiveMenu .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navbarClass.responsiveMenu a {
		float: none;
		display: block;
		text-align: left;
	}
	.navbarSection {
		width: 100%;
	}
}	

#important {
	background: #71bf6e;
}

#picture img {
	height: 60px;
}

#logotitle a {
	color: #fff;
	padding-left: 15px;
	text-decoration: none;
}

#bodytitle {
	width: 80%;
	height: auto;
	margin: 1vw auto;
	margin-top: 3vw;
	font-size: 11vw;
	line-height: 11.5vw;
	text-align: center;
}

.bodytext p{
	width: 80%;
	height: auto;
	margin: 1vw auto;
	margin-top: 3vw;
	font-size: 3.5vw;
	line-height: 5.25vw;
	text-align: justify;
}

#map {
	width: 80%;
	height: 600px;
	margin: 1vw auto;
	margin-top: 3vw;
	margin-bottom: 20px;
}

@media screen and (min-width: 650px) {
	#bodytitle {
		width: 70%;
		margin: 10px auto;
		margin-top: 25px;
		font-size: 65px;
		line-height: 70px;
	}
	
	.bodytext p{
		width: 70%;
		margin: 10px auto;
		margin-top: 25px;
		font-size: 20px;
		line-height: 30px;
	}
}

form {
	width: 80%;
	margin: 2em auto 0.5em auto;
}

p {
	text-indent: 2em;
}

.noindent{
	text-indent: 0em;
}

#largetextbox {
	height: 12em;
	width: 30em;
    padding: 10px 10px 10px 10px;
    border: solid thin gray;
    border-radius: 4px;
    background-color: #f1f1f1;
	margin-bottom: 20px;
	font-family:inherit;
}

#contactinput {
	width: 20%;
    padding: 10px 10px 10px 10px;
    border: solid thin gray;
    border-radius: 4px;
    background-color: #f1f1f1;
	margin-bottom: 20px;
	margin-top: 5px;
	font-family:inherit;
}

#contactsubmit {
	width: 10%;
    padding: 10px 10px 10px 10px;
    border: solid thin gray;
    border-radius: 4px;
    background-color: #f0f0f0;
	margin-top: 5px;
	font-family:inherit;
}

#contactsubmit:hover {
	color: white;
	background-color: #000;
}

form u {
	font-size: 20px;
}

.high {
	color: red;
}

.mid {
	color: yellow;
}

.low {
	color: green;
}