* {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	width: 100%;
	height: 75%;
	background-position: center;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: 100% 75%;
	display: table;
	font-family: 'Montserrat';
}

.nav {
	padding: 0;
	width: 100%;
	height: 80px;
	background: black;
	transition: .3s;
	z-index: 1;
	line-height: 0;
}

.logo {
	letter-spacing: 1px;
	float: left;
	color: white;
	font-size: 22px;
	line-height: 80px;
	padding: 0 6em;
}

.menu {
	float: right;
	line-height: 80px;
	margin: 0 6em;
	margin-right: 6em;
	height: 80px;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: lighter;
	padding: 16px 20px;
	transition: .3s;
}

.menu ul li a:hover
{
	background: gray;
}










