<div class="header">
	<div class="middle">
		<div class="middletext">
			<h1>Our Team</h1>
			<div class="teaminfo">
				<h5>The Simpson College (Indianola, Iowa) Palmer Project started in the summer of 2015 as a math modeling project. The research was done during the summer and the outcome was a predictive model of the spread of Palmer amaranth in Iowa. At the time, four students and one faculty were involved in the project.</h5>
				<h5>During the academic year 2015-2016, it became clear that Palmer amaranth presented Iowa row-croppers with a serious, even ominous, threat. In December of 2015, Brady Spangenberg, business and marketing analytics manager at BASF, US Crop, had lunch with John Pauley, Professor of Philosophy at Simpson College. Brady, a 2004 Simpson alumni (who had subsequently gone on to do a PhD in Comparative Literature at Purdue University), had no idea of the Palmer Project. John had just joined the project, as the intention was to expand and update the model. The two of them planned an easy going lunch about old times at Simpson.</h5>
				<h5>As it turned out, Palmer amaranth became a topic of conversation. John became aware of Brady’s expertise in agriculture. Brady became aware of the research, something very unusual at a liberal arts college. Soon, there were big plans for the summer with BASF contributing a generous grant for student stipends. Once again, the summer was spent in constructing another math model of Palmer spread (over time) in Iowa. The project added more students to the research and a social sciences/humanities component: it was becoming clear that stopping the spread of Palmer amaranth in Iowa would require communal efforts and behavioral analysis. Students and faculty interviewed a multitude of producers and other agricultural stakeholders.</h5>
				<h5>During the summer of 2016, the Palmer Project was awarded a grant from the Roy J. Carver Charitable Trust, which allowed the research to continue all year long. In October of 2016, Clint Meyer, Associate Professor of Biology and Environmental Science, was asked to join the project. Pauley and Meyer worked steadily through the academic year of 2016-2017 to reimagine the research. Brady suggested adding predictive analytics to the project to predict infestation density instead of spread alone. The summer of 2017 became a significant turning point, as the research group produced a synthesis model based on quantitative and qualitative data painstakingly gathered. The results have been quite fruitful as the Palmer Project continues to gather momentum along with more funding.</h5>
				<h5>In the spring of 2018, BASF and Brady asked the Palmer Project to expand to include the study of herbicide weeds, particularly marestail and waterhemp. The number of students on stipend has expanded to ten. Simpson College is very proud to have a research program that has survived and flourished this long and shows no signs of ending. The new model has been shared with many academic groups, industry and government. The Palmer Project has an ever-increasing visibility in the state and region. The interdisciplinary nature of the research continues to attract attention from a variety of sources.</h5>
			</div>
		</div>
	</div>
</div>
<div class="teamtext">
	<h1>Current Team Members</h1>
	<div class="currentbox">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Laken Baird</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Jacob Bruns</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Marisa DeForest</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Kyle Hovey</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Sarah Miller</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Drew Roen</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
		</ul>
	</div>
	<h1>Past Team Members</h1>
	<div class="currentbox">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Leslie Decker</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Zoe Muehleip</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Park Mikels</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Maggie Long</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Geoff Converse</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Tre Loge</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Teig Loge</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Molly Monk</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Andrea Van Wyk</h3>
					<h4>Weed Analyst</h4>
					<h4>Majoring in Electrical Engineering and Music History</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Richard Spellerberg</h3>
					<h4>Professor of Mathematics</h4>
					<h4>Project Faculty</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
		</ul>
	</div>
	<h1>Faculty</h1>
	<div class="currentbox">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Clint Meyer</h3>
					<h4>Associate Professor of Biology and Environmental Science</h4>
					<h4>Project Faculty</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>John Pauley</h3>
					<h4>Professor of Philosophy</h4>
					<h4>Project Faculty</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Brady Spangenberg</h3>
					<h4>Market Intelligence Manager, BASF</h4>
					<h4>Project Faculty</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
		</ul>
	</div>
	<h1>Contributors</h1>
	<div class="currentbox">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Bob Ross</h3>
					<h4>Artist</h4>
					<h4>Works in Tulsa selling used appliances for too much money</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Rob Boss</h3>
					<h4>Artist</h4>
					<h4>Works in Tulsa selling used appliances for too much money</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
			<li class="list-group-item">
				<div class="itembox">
					<img class="img-responsive" src="ethan.jpg">
					<h3>Job Loss</h3>
					<h4>Artist</h4>
					<h4>Works in Tulsa selling used appliances for too much money</h4>
					<h4>Contributed to the project since 1995</h4>
				</div>
			</li>
		</ul>
	</div>
</div>