<div id="bodytitle">Our Team</div>

<p>
	The Simpson College (Indianola, Iowa) Palmer Project (PP) started in the summer of 2015 as a math modeling project. The research was done during the summer and the outcome was a predictive model of the spread of Palmer amaranth in Iowa. At the time, four students and one faculty were involved in the project.
</p>
<p>
	During the academic year 2015-2016, it became clear that Palmer amaranth presented Iowa row-croppers with a serious, even ominous, threat. In December of 2015, Brady Spangenberg, business and marketing analytics manager at BASF, US Crop, had lunch with John Pauley, Professor of Philosophy at Simpson College. Brady, a 2004 Simpson alumni (who had subsequently gone on to do a PhD in Comparative Literature at Purdue University), had no idea of the PP. John had just joined the project, as the intention was to expand and update the model. The two of them planned an easy going lunch about old times at Simpson.
</p>
<p>
	As it turned out Palmer amaranth became a topic of conversation. John became aware of Brady’s expertise in agriculture. Brady became aware of the research, something very unusual at a liberal arts college. Soon there were big plans for the summer with BASF contributing a generous grant for student stipends. Once again the summer was spent in constructing another math model of Palmer spread (over time) in Iowa. The project added more students to the research and also a social sciences/humanities component: it was becoming clear that to stop the spread of Palmer amaranth in Iowa would require communal efforts and behavioral analysis. Students and faculty interviewed producers and other agricultural stakeholders. 
</p>
<p>
	During the summer of 2016, the PP was awarded a grant from the Roy J. Carver Charitable Trust, which allowed the research to continue all year long. In October of 2016, Clint Meyer, Associate Professor of Biology and Environmental Science, was asked to join the project. Pauley and Meyer worked steadily through the academic year of 2016-2017 to reimagine the research. Brady suggested adding predictive analytics to the project in order to predict infestation density and not just spread. The summer of 2017 turned out to be a turning point, as the research group produced a synthesis model based on quantitative and qualitative data painstakingly gathered. The results have been quite fruitful as the PP continues to gather momentum along with more funding. 
</p>
<p>
	In the spring of 2018, BASF and Brady asked the PP to expand to include the study of herbicide weeds, particularly marestail and waterhemp. The number of students on stipend has expanded to ten. Simpson College is very proud to have a research program that has survived and flourished this long and shows no signs of ending. The new model has been shared with many academic groups, industry and government. The PP has an ever-increasing visibility in the state and region. The interdisciplinary nature of the research continues to attract attention. 
</p>

<h3>Palmer Project Team Members: Summer 2015</h3>
Teig Loge<br />
Maggie Long<br />
Park Mikels<br />
Molly Monk<br />
Faculty: Richard Spellerberg, Professor of Mathematics<br />
<h3>Palmer Project Team Members: Summer 2016</h3>
Leslie Decker<br />
Tre Loge <br />
Maggie Long<br />
Park Mikels<br />
Zoe Muehleip<br />
Andrea Van Wyke<br />
Faculty: John Pauley, Professor of Philosophy<br />
Faculty: Richard Spellerberg, Professor of Mathematics<br />
<h3>Palmer Project Team Members: Fall/Spring 2016-2017</h3>
Leslie Decker<br />
Tre Loge<br />
Maggie Long<br />
Park Mikels<br />
Zoe Muehleip<br />
Faculty: Clint Meyer, Associate Professor of Biology and Environmental Science<br />
Faculty: John Pauley, Professor of Philosophy<br />
<h3>Palmer Project Team Members: Summer 2017</h3>
Jacob Bruns<br />
Geoff Converse<br />
Leslie Decker<br />
Marisa DeForest<br />
Maggie Long<br />
Park Mikels<br />
Zoe Muehleip<br />
Drew Roen<br />
Faculty: Clint Meyer, Professor of Biology and Environment Science<br />
Faculty: John Pauley, Professor of Philosophy<br />
<h3>Palmer Project Team Members: Fall/Spring 2017-2018</h3>
Jacob Bruns<br />
Leslie Decker<br />
Marisa DeForest<br />
Drew Roen<br />
<h3>Palmer Project Team Members: Summer 2018</h3>
Laken Baird<br />
Jacob Bruns<br />
Marisa DeForest<br />
Kyle Hovey<br />
Sarah Miller<br />