agm-map {
      height: 500px;
    }

#search {
	width: 300px;
    padding: 5px 5px;
    border: solid thin black;
    background-color: white;
	margin-bottom: 20px;
	font-family:inherit;
}

#searchLabel {
	
}